@model BookApi.Dtos.CountryDto
@{
    ViewData["Title"] = "Delete";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>Delete Country @Model.Name ?</h2>

<div>
    <form asp-controller="Countries" asp-action="Delete" asp-route-countryId="@Model.Id"
    asp-route-countryName="Model.Name" method="post">
    <div>
        <p>
            <strong>Country Name:</strong>@Model.Name
        </p>
        <input type="submit" value="Delete" class="btn btn-sm btn-danger"/>
    </div>
    </form>
    <br/>
    <a asp-controller="Countries" asp-action="Detail" asp-route-countryId="@Model.Id" class="btn btn-sm btn-primary">Cancel</a>
</div>