@model BookApi.Model.Review
@{
    ViewData["Title"] = "Edit";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>Update reviews for @Model.Book.Title</h2>
<form asp-controller="Reviews" asp-action="Edit" method="post">
    <input asp-for="Id" hidden />
    <input asp-for="Book.Id" hidden />
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <label asp-for="Reviewer">Reviewer Name:</label>
            </div>
            <div class="col-sm-3">
                @await Component.InvokeAsync("ReviewersList")
            </div>           
        </div>
        <br/>
         <div class="row">
             <div class="col-sm-2">
                 <label asp-for="HeadLine">Review HeadLine:</label>
             </div>
            <div class="col-sm-3">
                <input type="text" asp-for="HeadLine" class="form-control"/>
            </div>           
        </div>
         <br/>
        <div class="row">
             <div class="col-sm-2">
                 <label asp-for="Rating">Review Rating:</label>
             </div>
            <div class="col-sm-3>">
                <input asp-for="Rating" class="form-control"/>
            </div>           
        </div>
         <br/>
         <div class="row">
             <div class="col-sm-2">
                 <label asp-for="ReviewText">Review:</label>
             </div>
            <div class="col-sm-3">
                <textarea asp-for="ReviewText" style="min-width:200px; min-height:200px;"></textarea>
            </div>          
        </div>
          <br/>
        <input type="submit" class="btn btn-sm btn-primary" value="Edit">
    </div>
</form>
<a asp-controller="Reviews" asp-action="GetReviewById" asp-route-reviewId="@Model.Id" class="btn btn-sm btn-primary">Cancel</a>